<!doctype html>
<title>Вам уже исполнилось 18?</title>
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 48px; }
  body { font: 20px Helvetica, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; text-align: center;}
  #left{
    text-align:center;
  width: 50%;
    float: left;}
   #right{
    text-align:center;
    width: 50%;
    float: left;}

</style>
<body>
<article>
    <h1>Вам уже исполнилось 18 ?</h1>
    <div id="left">
        <a href="/index">Погнали!</a>
    </div>
    <div id="right">
        <a href="https://www.google.com/search?q=%D1%87%D1%82%D0%BE+%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C+%D0%B4%D0%BE+18+%D0%BB%D0%B5%D1%82%3F&oq=%D1%87%D1%82%D0%BE+%D0%B4%D0%B5%D0%BB%D0%B0%D1%82%D1%8C+%D0%B4%D0%BE+18+%D0%BB%D0%B5%D1%82%3F&aqs=chrome..69i57j0.2983j1j7&sourceid=chrome&ie=UTF-8">Нет</a>
    </div>
</article>
</body>