<!doctype html>
<html lang="ru">

<head>
    <title>Y.Pivo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


<div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>


    <header class="site-navbar site-navbar-target" role="banner">

        <div class="container">
            <div class="row align-items-center position-relative">

                <div class="col-lg-4">
                    <nav class="site-navigation text-right ml-auto " role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li class="active"><a href="index" class="nav-link">Главная</a></li>
                            <li><a href="reviews" class="nav-link">Статьи</a></li>
                            <li><a href="maps" class="nav-link">Карты</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-4 text-center">
                    <div class="site-logo">
                        <a href="index">Y.Pivo</a>
                    </div>


                    <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#"
                                                                                   class="site-menu-toggle py-5 js-menu-toggle text-white"><span
                            class="icon-menu h3 text-white"></span></a></div>
                </div>
                <div class="col-lg-4">
                    <nav class="site-navigation text-left mr-auto " role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a href="quiz" class="nav-link">Викторины</a></li>
                            <li><a href="experts" class="nav-link">Эксперты</a></li>
                            <li><a href="about" class="nav-link">О нас</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay" style="background-image: url('images/hero_2.jpg')">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-lg-6 text-center">
                        <h1>Станьте экспертом</h1>
                        <p>Делитесь опытом, пишите статьи и отзывы и получайте награды.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container site-section">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-6">
                <span class="text-primary">Что мы предлагаем</span>
                <h2 class="mb-4">Возможность обмена опытом в области пива</h2>
                <p>Здесь вы можете читать, писать и смотреть обзоры на интересные вам напитки. Также вы можете
                    воспользоваться картой, где будут отмечены заведения вашего города, оцененные местными
                    экспертами.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="feature-1">
                    <img src="images/img_1.jpg" alt="Image" class="img-fluid">
                    <div class="feature-1-contents">
                        <h2>Статьям</h2>
                        <p>Читайте, пишите, делитесь.</p>
                        <p><a href="#" class="more">Перейти</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-1">
                    <img src="images/img_2.jpg" alt="Image" class="img-fluid">
                    <div class="feature-1-contents">
                        <h2>Карты</h2>
                        <p>Найдите место по душе.</p>
                        <p><a href="#" class="more">Перейти</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="feature-1">
                    <img src="images/img_3.jpg" alt="Image" class="img-fluid">
                    <div class="feature-1-contents">
                        <h2>Викторины</h2>
                        <p>Проявите силу своего мозга и получите подарки от наших партнеров.</p>
                        <p><a href="#" class="more">Перейти</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section section-2">
        <div class="container">
            <div class="row justify-content-center text-center mb-5 section-2-title">
                <div class="col-md-6">
                    <span class="text-primary">Y.Pivo</span>
                    <h2 class="mb-4">О проекте</h2>
                    <p>Y.pivo - новый проект Y, представляющий собой онлайн-сообщество любителей пива. Здесь можно найти
                        родственную душу, а также принять участие в строительстве народной экспертной системы (Гуру) по
                        пиву и стать признанным экспертом.</p>
                </div>
            </div>
        </div>
        <div class="container site-section">
            <div class="row align-items-stretch feature-2">
                <div class="col-lg-9 feature-2-img">
                    <img src="images/hero_1.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-3 feature-2-contents pl-lg-5">
                    <div class="fixed-content">
                        <span class="caption">01.</span>
                        <h3 class="mb-5">Экспертность и мотивация</h3>
                        <p>Все пользователи, зарегистрированные на сайте, участвуют в рейтинге. Эксперты, набравшие
                            наибольшее число очков, будут награждены знаками отличия и призами.</p>
                        <p>А победитель получит главный приз - поездку на двоих в одну из "пивных" европейских
                            стран.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container site-section">
            <div class="row align-items-stretch feature-2">
                <div class="col-lg-9 feature-2-img order-lg-2">
                    <img src="images/hero_3.jpg" alt="Image" class="img-fluid">
                </div>
                <div class="col-lg-3 feature-2-contents pr-lg-5">
                    <div class="fixed-content">
                        <span class="caption">02.</span>
                        <h3 class="mb-5">Зачем?</h3>
                        <p>Пиво в интернете любят. Оно упоминается чаще (1 807 887 раз), чем чай (1 778 894 раза) и сок
                            (1 119 175 раз). По данным опроса, проведенного на Яндексе (ответило около десяти миллионов
                            человек), более 75% считают, что понимают в пиве, при этом 50% - вообще, и 26% - в том,
                            которое пьют. Много пива не бывает, правда? Значит, и вы разбираетесь в предмете!</p>
                        <p>Сейчас появилось так много пивных брендов, они так активно рекламируются, что трудно в них
                            разобраться. Яндекс.Пиво - это способ понять, что же происходит на самом деле. Задача
                            проекта не сравнивать сорта и бренды, а составить их объективное экспертное описание,
                            показать сильные стороны каждого.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="site-section section-4">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-7">
                    <blockquote class="testimonial-1">
                        <span class="quote quote-icon-wrap"><span class="icon-format_quote"></span></span>
                        <p>Яб попил</p>
                        <cite><span class="text-black">Владимир Кожемяченко</span> &mdash; <span class="text-muted">QA engineer at Y</span></cite>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>


    <div class="site-section bg-light">
        <div class="container">
            <div class="row align-items-stretch">
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="post-entry-1 h-100">
                        <a href="#">
                            <img src="" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Datestamp</span>
                            <a href="#"><h2>More news soon</h2></a>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="post-entry-1 h-100">
                        <a href="#">
                            <img src="" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Datestamp</span>
                            <a href="#"><h2>More news soon</h2></a>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="post-entry-1 h-100">
                        <a href="#">
                            <img src="" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Datestamp</span>
                            <a href="#"><h2>More news soon</h2></a>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <div class="post-entry-1 h-100">
                        <a href="#">
                            <img src="" alt="Image"
                                 class="img-fluid">
                        </a>
                        <div class="post-entry-1-contents">
                            <span class="meta">Datestamp</span>
                            <a href="#"><h2>More news soon</h2></a>
                            <a href="#" class="more">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-7">
                            <h2 class="footer-heading mb-4">About Us</h2>
                            <p>Y - это компания энутиастов, которые решили пройти курс "Промышленная разработка на Java"
                                от компании Naumen, учась на матмехе</p>
                        </div>
                        <div class="col-md-4 ml-auto">
                            <h2 class="footer-heading mb-4">Мини-меню</h2>
                            <ul class="list-unstyled">
                                <li><a href="#">О нас</a></li>
                                <li><a href="#">Правила сервиса</a></li>
                                <li><a href="#">Юридическая информация</a></li>
                                <li><a href="#">Обратная связь</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-4 ml-auto">


                    <h2 class="footer-heading mb-4">Follow Us</h2>
                    <a href="#about-section" class="smoothscroll pl-0 pr-3"><span class="icon-facebook"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                    <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
                    </form>
                </div>
            </div>
            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class="border-top pt-5">
                        <p>
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                            No rights reserved
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>

<script src="js/main.js"></script>

</body>

</html>
