<!doctype html>
<div>Формат ввода адреса: "Город, Улица, номер дома"</div>
<div>

    {{#GeoIP}}
    <div>
        <strong>{{ipAddress}}</strong>
        <strong>{{city}}</strong>
    </div>
    {{/GeoIP}}
    <form method="post" action="add">
        <input type="text" name="address" placeholder="Введите адрес магазина."/>
        <input type="text" name="name" placeholder="Введите название товара.">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <button type="submit">Добавить товар.</button>
    </form>
    <strong>{{response}}</strong>
</div>

<div>Список Товаров</div>
<form method="post" action="filter">
    <input type="text" name="name">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <button type="submit">Найти</button>
</form>

<div>
    {{response}}
</div>

<div>
    <strong>{{name}}</strong>
</div>
{{#stores}}
    <div>
        {{address}}
    </div>
{{/stores}}
</body>
</html>
